/* body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
}

@media (min-width: 300px) {
    .menuItem {
        width: auto;
        height: 200px;
        margin: 15px;
    }
}

.menuItem {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    background-color: #e5f3ff;
    border-radius: 6px;
    word-wrap: break-word;
    float: left; */

/* Doesn't work for long words in title*/
/* Make dynamic later on*/
/* width: 145px;
    padding: 10px;
}

.menuItemTimer {
    margin: 5px;
    width: 100%;
    overflow: auto;
}

.menuItemTitle {
    margin: 5px;
    width: 100%;
}



#mainEvent {
    padding-top: 20px;

    /*Make height dynamic later*/
/* height: 532px;
    overflow: auto;
}


#popup {
    position: fixed;
    z-index: 1;
    top: 70px;
    width: 80%;
    /* Fix horisontal position to dynamic later*/
/* left: 10%;
    height: 400px;
    text-align: center;
    background-color: #e5f3ff;
    border-radius: 12px;
}

#popupRemoveButton {
    background: #58afff;
    border: none;
    border-radius: 50%;
    color: white;
} */

.card {
  background-color: #e5f3ff;
  border: none;
  margin: 5px;
}

#bottomMenu {
  position: fixed;
  bottom: 20px;
  left: 5%;
  z-index: 1;
  background: white;
  width: 90%;
  text-align: center;
  margin-top: 10px;

  /*display: inline-flex;
      flex-direction: row;*/
}

#startButton {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: large;
}

@media (min-width: 300px) {
  #startButton {
    width: 200px;
    background-color: #58afff;
  }
}

#newTimerButton {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.2em;
  height: 1.7em;

  position: fixed;
  right: 1.5em;
  bottom: 1em;

  border-radius: 100%;
  border: none;
  color: white;
  font-size: x-large;
}

@media (min-width: 300px) {
  #newTimerButton {
    background-color: #58afff;
  }
}
