#topMenu {
    text-align: center;
    width: 100%;
    border: 1px black solid;
}

/* w3Schools mobileNavbar css*/
.topnav {
    overflow: hidden;
    background-color: #58afff;
    position: relative;
    border-radius: 12px;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border-left: 1px white solid;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.active {
    background-color: #58afff;
    color: white;
    border-radius: 12px;
    border-bottom: 1px white solid;
}